<IfModule mod_php.c>
	php_value auto_prepend_file none
	php_value auto_append_file none
</IfModule>
<IfModule mod_php7.c>
	php_value auto_prepend_file none
	php_value auto_append_file none
</IfModule>
<IfModule mod_php8.c>
	php_value auto_prepend_file none
	php_value auto_append_file none
</IfModule>

DirectoryIndex index.php

Options -Indexes -MultiViews
